This is form where people could input their recommended books 


<form action="/recommend_a_book" method="post">
  Author <input type="text" name="author"><br>
  Title : <input type="text" name="title"><br>
  Pages : <input type="text" name="pages"><br>
  <input type="submit" value="Submit">
</form>

